{% extends 'dashboard/components/base.html' %}
{% block title %}Product-List | Sikto Commerze{% endblock title %}
{% block content %}
			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Wish List Product</h1>
							<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span> Wishlist Product</p>
						</div>
						<div>
							<a href="{% url 'add-product' %}" class="btn btn-primary"> Add Porduct</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table"
											style="width:100%">
											<thead>
												<tr>
													<th>Product</th>
													<th>Name</th>
													<th>Price</th>
													<th>Offer</th>
													<th>Purchased</th>
													<th>Stock</th>
													<th>Status</th>
													<th>Date</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody>
												{% for whislist in wishlists  %}
												<tr>
													<td><img class="tbl-thumb" src="{{whislist.product.image.url}}" alt="Product Image" /></td>
													<td>{{whislist.product.title}}</td>
													<td>TK{{whislist.product.price}}</td>
													<td>{{whislist.product.get_discount_parcent}}% OFF</td>
													<td>{{whislist.product.sold}}</td>
													<td>{{whislist.product.quantity}}</td>
													<td>{{whislist.product.get_status}}</td>
													<td>{{whislist.product.created}}</td>
													<td>
														<div class="btn-group mb-1">
															<button type="button"
																class="btn btn-outline-success" style="color:#34c997"><a  href="{% url 'product-details' whislist.product.slug %}" >Info</a></button>
															<a type="button"
																class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
																data-bs-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false" data-display="static">
																<span  href="{% url 'product-details' whislist.product.slug %}" class="sr-only">Info</span>
														</a>

															<div class="dropdown-menu">
																<a class="dropdown-item" href="{% url 'product-details' whislist.product.slug %}">Edit</a>
																<a class="dropdown-item" href="#">Delete</a>
															</div>
														</div>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->


			{% endblock content %}